body {
  background-color: #000;
}

/* SECTION SATU START */
#header {
  height: 115vh;
  min-height: 500px;
  background-image: url("assets/main-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
}

#header h1 {
  font-size: 50px;
  color: #fff;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  line-height: 75px;
  letter-spacing: 2px;
}

#header h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #fff;
}

.text-white {
  text-decoration: none;
}

#header .btn {
  width: 260.36px;
  height: 60px;
  top: 528.7px;
  left: 588px;
  text-align: center;
  align-items: center;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-color: none !important;
  border-radius: 4px;
  font-weight: bold;
}
/* SECTION SATU END */

/* SECTION DUA START */
#aboutgallery {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #080a0b), url("./assets/image-2.png");
  background-size: cover;
  height: 130vh;
  max-width: 100%;
  background-position: center;
}

.skalipi {
  padding-top: 15%;
}

section .carousel-content {
  padding-top: 5%;
}

.title-gamechoice {
  color: white;
  /* letter-spacing: 4px; */
}

.title-gamechoice h3 {
  font-size: 20px;
}
.title-gamechoice h2 {
  font-size: 45px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.carousel {
  width: 600px;
  height: 300px;
}

/* SECTION DUA END */

/* SECTION TIGA START */
#gamefeatures {
  width: 100%;
  height: 130vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 00.5)), url("./assets/features.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.right h2 {
  color: #ffb548;
  text-transform: uppercase;
}

.timeline {
  margin-top: 60px;
}

div.left {
  min-width: 15%;
  /* background-color: aqua; */
}

div.left span {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  display: block;
  border: 1px solid #fff;
}

.left span:nth-child(1) {
  background-color: #fff;
}
.left span:nth-child(2) {
  min-height: 115px;
  width: 1px;
}

.left span:nth-child(4) {
  margin-top: 50px;
}

.right div:nth-child(2) {
  margin-top: 15px;
}

.right div:nth-child(3) {
  margin-top: 25px;
}

/* SECTION TIGA END */

/* SECTION EMPAT START */
#requirements {
  background-image: url("assets/requirements.png");
  background-size: cover;
  height: 130vh;
  max-width: 100%;
  position: relative;
  color: white;
}

#requirements::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding: 0;
  background-image: radial-gradient(35.26% 50% at 60.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080a0b 99.74%);
}

#requirements .container {
  position: relative;
  z-index: 1;
}

#requirements .title-requirements {
  position: relative;
  top: 0;
  padding-bottom: 7em;
}

#requirements .title-requirements h2 {
  color: white;
  padding-top: 2em;
  letter-spacing: 5px;
  font-size: 40px;
  display: inline-block;
}

#requirements .title-requirements p {
  color: white;
  position: absolute;
  left: 430px;
  top: 100px;
  font-size: 13px;
  letter-spacing: 2px;
}

#requirements .border {
  border: 1px solid rgba(151, 151, 151, 0.3) !important;
}

#requirements h3 {
  color: #ffb548;
  letter-spacing: 3px;
  padding-top: 0.5em;
}
/* SECTION EMPAT END */

/* SECTION LIMA START */

#top-scores {
  background-image: url(./assets/top-scores-bg-2.png);
  background-size: cover;
  height: 130vh;
  width: 100%;
}

.boilerplate p {
  color: #fff;
}

#top-scores .text-content {
  padding-top: 15em;
}

#top-scores .text-content h2 {
  font-size: 50px;
  letter-spacing: 9px;
  color: #fff;
}

#top-scores .text-content p {
  padding: 1em 0;
  color: white;
}

#top-scores .name {
  padding: 1em 4em;
}

#top-scores .name-reviewer {
  color: #ffb548;
  margin: 0;
}

#top-scores .job-reviewer,
#top-scores .date-reviewer {
  color: rgba(255, 255, 255, 0.6);
}

#top-scores .date-reviewer {
  margin: 0;
}

#top-scores .card-reviewer {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}

#top-scores .card-reviewer .photo {
  border-radius: 50%;
  margin-bottom: 1em;
  filter: drop-shadow(10px 5px 0 #ffb548);
}

#top-scores .card-reviewer:nth-child(2) {
  position: relative;
  right: 120px;
}
/* SECTION LIMA END */

/* SECTION ENAM START */
#newsletter {
  background-color: black;
  max-width: 100%;
  height: 130vh;
}

#newsletter img {
  position: relative;
  top: 180px;
  width: 313px;
  height: 556px;
}

#newsletter .content-subs {
  padding-top: 15em;
  color: #fff;
}

#newsletter .content-subs h2 {
  letter-spacing: 2px;
  padding: 0.3em 0;
  color: #fff;
}

#newsletter form {
  margin-top: 2em;
  /* background-color: aqua; */
}

#newsletter .content-subs input {
  padding: 0.7em 2em;
  margin-right: 10px;
  border: 0px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.08);
}

#newsletter .content-subs .main-btn {
  padding: 0.7em 2em;
}
/* SECTION ENAM END */

/* FOOTER START */

#footer {
  background-color: black;
}

#footer a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
}

#footer img {
  padding: 1em;
}

#footer .border-b {
  border-bottom: 1px solid #fff;
  opacity: 0.7;
  height: 100px;
  font-size: 12px;
  color: white;
}

#footer .btm-link a {
  border-right: 1px solid #fff;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 0 10px;
}
#footer .btm-link a:nth-child(3) {
  border: 0;
}

/* FOOTER END */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  body {
    width: auto;
  }

  #teks-utama {
    padding-top: 15%;
    /* background-color: aqua; */
    position: relative;
  }

  .button-main {
    line-height: 50px;
  }

  .carousel {
    width: 100%;
    height: 300px;
  }

  /* #gamefeatures {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 00.5)), url("features.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  section .skalipi {
    padding-top: 20%;
  }

  section .carousel-content {
    padding-top: 10%;
  }

  #requirements .title-requirements p {
    left: 5px;
    top: 270px;
  }
  #top-scores {
    margin-top: 10em;
    background-image: none;
  }

  #top-scores .name {
    padding: 1em 5em;
  }

  #top-scores .text-content {
    padding-top: 1em;
    text-align: center;
  }

  #top-scores .card-reviewer:nth-child(2) {
    position: static;
  }

  #newsletter {
    margin-top: 1em;
  }
  #newsletter img {
    display: none;
  }

  #newsletter form {
    /* margin-top: 2em; */
    /* background-color: aqua; */
  }

  #newsletter .content-subs {
    text-align: justify;
  }

  #footer a {
    padding: 0.7em;
    text-align: center;
  }
  #footer img {
    padding: 0.7em;
    text-align: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  header .text-area {
    padding-top: 20%;
  }

  .skalipi {
    padding-top: 10%;
  }

  .carousel-content {
    padding-top: 15%;
  }

  #top-scores .text-content {
    padding-top: 3em;
    text-align: center;
  }

  #top-scores .card-reviewer:nth-child(2) {
    position: static;
  }

  #top-scores {
    height: 130vh;
  }

  #newsletter img {
    display: none;
  }

  #footer a {
    padding: 0.7em;
    text-align: center;
  }
  #footer img {
    padding: 0.7em;
    text-align: center;
  }

  #footer .btm-link {
    text-align: center;
    padding-top: 20px;
  }

  #footer .medsos {
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* height */

@media (max-height: 680px) {
  .text-area .main-btn {
    margin-bottom: 10em;
  }

  /* #requirements {
    height: 200vh;
  } */

  #top-scores {
    height: 200vh;
  }

  #newsletter {
    height: 150vh;
  }

  /* #footer .medsos {
    margin: 1em;
  }

  #footer .btm-footer {
    padding: 1em 0;
  } */
}
